
.favorite-categories {
    margin-top: 45px;
    padding-top: 15px;
}

.favorite-categories__ttl {
    font-family: Quiza Pro, sans-serif;
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    letter-spacing: -0.015em;
    color: #8C3848;
    margin-bottom: 10px;
}

.favorite-categories__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.favorite-categories__item {
    background: #FFFFFF;
    border: 1.5px solid #F1F1F1;
    border-radius: 20px;
    margin-right: 5px;
    width: calc(33% - 5px);
    margin-bottom: 3px;
    padding-top: 4px;
    padding-bottom: 7px;
}

.favorite-categories__item:nth-child(3) {
    margin-right: 0
}

.favorite-categories__item:last-child {
    margin-right: 0
}

.favorite-categories__img-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 13px;
}

.favorite-categories__banner-logo-icon {
    transform: translateY(3px);
}

.favorite-categories__img {
    width: 102%;
    object-fit: cover;
}

.favorite-categories__item-text {
    text-align: center;
    font-size: 18px;
    line-height: 21px;
    color: #282828;
    width: 100%;
    display: block;
}

.favorite-categories__banner-img {
    display: none;
    width: 100%;
    object-fit: cover;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

.favorite-categories__banner-img_mobile {
    display: block;
}

.favorite-categories__banner {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-radius: 20px;
    padding: 10px;
    overflow: hidden;
    margin-top: 5px;
}

.favorite-categories__banner-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.favorite-categories__banner-text {
    margin-left: 10px;
    margin-right: 6px;
    font-weight: 500;
    font-size: 19px;
    line-height: 24px;
    color: #FFFFFF;
    letter-spacing: -0.04px;
    padding-top: 8px;
}

.favorite-categories__banner-btn {
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
    padding: 7.5px 17px 6.5px 17px;
    border: 1px solid #FFFFFF;
    border-radius: 100px;
}

@media only screen and (min-width: 700px) {

    .favorite-categories__item {
        margin-right: 8px;
        width: 100%;
        max-width: 110px;
    }
    .favorite-categories__item:nth-child(3) {
        margin-right: 8px;
    }

    .favorite-categories__banner-img_mobile {
        display: none;
    }

    .favorite-categories__banner-img_tablet {
        display: block;
    }

    .favorite-categories__banner {
        height: 40px;
        padding: 4px 35px;
        margin-top: 6px;
    }

    .favorite-categories__banner-wrapper {
        width: 100%;

    }

    .favorite-categories__banner-btn br {
        display: none;
        padding: 3px 17px 2px 17px;
    }

    .favorite-categories__banner-btn {
        padding: 3px 17px 2px 17px;
        line-height: 27px;
        letter-spacing: 0.7px;
    }

    .favorite-categories__banner-logo-icon {
        width: 55px;
        height: 55px;
        transform: translateY(3px);
    }

    .favorite-categories__banner-text {
        font-size: 20px;
        line-height: 27px;
        padding-top: 0;
        transform: translateX(-2px);
    }
}

@media only screen and (min-width: 1200px) {

    .favorite-categories {
        margin-bottom: 65px;
        margin-top: 26px;
    }

    .categories__banner {
        margin-top: 20px;
    }

    .favorite-categories__banner-img_tablet {
        display: none;
    }

    .favorite-categories__banner-img_desktop {
        display: block;
    }

    .favorite-categories__banner-wrapper {
        max-width: 630px;
        margin: 0 auto;
    }

    .favorite-categories__ttl {
        font-size: 45px;
        line-height: 53px;
        margin-bottom: 26px;
    }

    .favorite-categories__img-wrapper {
        height: 150px;
    }

    .favorite-categories__banner {
        margin-top: 18px;
    }

    .favorite-categories__item-text {
        font-size: 20px;
        line-height: 23px;
    }

    .favorite-categories__item {
        max-width: 160px;
    }
}