.posts {
    margin-top: 20px;
}

.posts__wrapper {
    width: 100%;
    max-width: 340px;
    margin: 0 auto;
}

.posts__row {
    width: 100%;
}

.posts__main-item, .posts__small-item {
    width: 100%;
    margin-bottom: 28px;
}

.posts__img-wrapper {
    width: 100%;
    overflow: hidden;
    border-radius: 20px;
    height: 300px;
    margin-bottom: 25px;
}

.posts__image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: none;
}

.posts__image_mob-tab {
    display: block;
}

.posts__item-content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.posts__item-ttl {
    width: 100%;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #0C0C0C;
    margin-bottom: 10px;
}

.posts__item-btn {
    padding: 10px 25px 8px 25px;
    border: 1px solid #FC654C;
    border-radius: 100px;
    display: inline-block;

    font-size: 18px;
    line-height: 24px;
    color: #FC654C;
}

.posts__item-br-1 {
    display: none;
}

.posts__item-br-2 {
    display: none;
}

@media only screen and (min-width: 700px) {

    .posts__wrapper {
        max-width: 100%;
    }

    .posts__row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        align-items: flex-start;
    }

    .posts__main-item, .posts__small-item {
        width: calc(50% - 10px);
        margin-bottom: 0;
    }

    .posts__row {
        margin-bottom: 36px;
    }

}

@media only screen and (min-width: 1200px) {

    .posts {
        margin-top: 37px;
    }

    .posts__row {
        margin-bottom: 65px;
    }

    .posts__row:last-child {
        margin-bottom: 0;
    }

    .posts__img-wrapper {
        height: 350px;
    }

    .posts__item-content {
        align-items: flex-start;
    }

    .posts__main-item {
        max-width: 660px;
        width: 100%;
        margin-bottom: 0;
    }

    .posts__small-item {
        width: 100%;
        max-width: 490px;
        margin-bottom: 0;
    }

    .posts__image_mob-tab {
        display: none;
    }

    .posts__image_desk {
        display: block;
    }

    .posts__item-br-1 {
        display: block;
    }

    .posts__item-br-2 {
        display: block;
    }
}